<%- include('partial/header'); -%>

<main>
      <div class="jumbotron">
        <h2 data-cy="welcome" >Welcome to dashboard</h2>

        <h3 data-cy="name" >Hello, <%= userInfo.name %>! <span class="badge badge-primary"> <%= userInfo.isVerified ? 'Verified' : 'Not Verified' %> </span> </h3>
        <h5 data-cy="email" >Your email, <%= userInfo.email %></h5>

        <% if(userInfo.isVerified) { %>
          <h5 >Last Login: <%= userInfo.lastSession %></h5>
          <h5 >Login Times: <%= userInfo.loginTimes %></h5>
          <% if (userInfo.registerSource === "google" ) { %>
            <h5 >Default Password: " admin " </h5>
            <% } %>

            <% } else { %>

              <h5 class="text-danger" data-cy="email" >Your email is not verified yet, please check your email or
                <a class="nav-link active" href="/user/resend_token">Resend Token</a>
              </h5>

          <% } %>
      </div>
</main>

<%- include('partial/footer'); -%>

