<%- include('partial/header'); -%>

<div class="container">
  <div class="wrapper">
    <form
      action="/user/reset_password"
      method="post"
      name="reset_password"
      class="form-signin"
    >
      <h3 class="form-signin-heading">Reset password</h3>

      <% if (locals.error) { %> <% if (Array.isArray(message)) { %>
      <div class="alert alert-danger">
        <ul data-cy="validator-error">
          <% for (let msg of message ) { %>
          <li><%= msg %></li>
          <% } %>
        </ul>
      </div>
      <% } else{ %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %> <% } %>

      <input
        type="password"
        class="form-control"
        name="oldPassword"
        placeholder="Current Password"
        required="true"
        autofocus=""
      />

      <input
        type="password"
        class="form-control"
        name="newPassword"
        placeholder="New Password"
        required="true"
        autofocus=""
      />

      <input
        type="password"
        class="form-control"
        name="confirmPassword"
        placeholder="Confirm Password"
        required="true"
        autofocus=""
      />

      <% if(locals.success) { %>
        <h5 data-cy="message" class="text-success">
          <%= message %>
        </h5>
        <% } %>


      <button
        class="btn btn-lg btn-primary btn-block"
        name="submit"
        type="Submit"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>

<%- include('partial/footer'); -%>
